#bodyContainer {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .arrayElement {
    padding-top: 7px;
    font-family: sans-serif;
    font-weight: 700;
    display: inline-block;
  }
  #bodyContainer {
    display: flex;
  }
  
  #leftPanel {
    width: 200px;
    padding: 10px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
  }
  
  #leftPanel h3 {
    margin-top: 0;
  }
  
  #leftPanel ul {
    list-style-type: none;
    padding: 0;
  }
  
  #leftPanel li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
  }
  
  #arrayContainer {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }