#bodyContainer {
    width: 100%;
    height: 650px;
    background-color:#0F1108;
    text-align: center;
  }
  element.style {
  }
  .arrayElement {
    padding-top: 7px;
    font-family: sans-serif;
    font-weight: 700;
    display: inline-block;
    color: #000000 !important;
  }
  #bodyContainer {
    display: flex;
  }
  
  #leftPanel {
    width: 200px;
    padding: 10px;
    background-color: #eadc72;
    border-right: 1px solid #ddd;
  }
  
  #leftPanel h3 {
    margin-top: 0;
  }
  
  #leftPanel ul {
    list-style-type: none;
    padding: 0;
  }
  
  #leftPanel li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
  }
  
  #arrayContainer {
    display: flex-start;
    align-items: flex-end;
    justify-content: center;
    margin-left: 55px;
  }