#toolbar {
  width: 100%;
  height: 64px;
  background-color: #031A6B;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 16px !important;
}

#generateArray, #generateArrayX, #arraySize, .algorithmButton, .currentAlgorithmButton, #sort, #nextStep {
  font-size: 16px;
  font-family: monospace;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  color: white;
}

#generateArray:hover, #generateArrayX:hover, .algorithmButton:hover, #sort:hover, #nextStep:hover {
  color: rgb(212, 212, 212);
}

#generateArrayX {
  cursor: not-allowed;
}

#arraySize {
  margin-right: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 100px;
  margin-right: 15px;
  background: transparent;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 5px;
  border: none;
  border-radius: 3px;
  background: #ccc;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(241, 94, 255);
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bbb;
}

input[type=range]::-moz-range-track {
  width: 100px;
  height: 5px;
  border: none;
  border-radius: 3px;
  background: #ccc;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(241, 94, 255);
}

input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 100px;
  height: 5px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(241, 94, 255);
}

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

input[type=range]:focus::-ms-fill-upper {
  background: #bbb;
}

.separator {
  width: 5px;
  height: 55px;
  background-color: rgb(241, 94, 255);
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}

.algorithmButton {
  color: rgb(241, 94, 255);
}

.currentAlgorithmButton {
  color: rgb(0, 255, 55);
}